@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}
.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}
:root {
  --primary-color: #62a92b;
  --gradient-color: #659932;
  --tc-body-font-family: "Urbanist", sans-serif;
  --tc-heading-font-family: "Urbanist", sans-serif;
  --tc-display-font-family: "Urbanist", sans-serif;
  --tc-body-font-size: 16px;
  --tc-fs-1: 40px;
  --tc-fs-2: 33px;
  --tc-fs-3: 28px;
  --tc-fs-4: 23px;
  --tc-fs-5: 19px;
  --tc-fs-6: 16px;
  --tc-fs-7: 14px;
  --tc-fs-8: 12px;
  --tc-ds-1: 80px;
  --tc-ds-2: 72px;
  --tc-ds-3: 64px;
  --tc-body-line-height: 1.5;
  --tc-heading-line-height: 1.2;
  --tc-theme-primary-1: var(--primary-color);
  --tc-theme-primary-2: #62a92b;
  --tc-theme-primary-3: #be6895;
  --tc-theme-secondary-1: #f1f2f3;
  --tc-theme-secondary-3: #b2a4ab;
  --tc-theme-dark-primary-1: var(--primary-color);
  --tc-theme-dark-primary-2: #a8ff53;
  --tc-theme-dark-primary-3: #fcc6e2;
  --tc-theme-dark-secondary-1: #21212d;
  --tc-theme-dark-secondary-2: #f778ba;
  --tc-theme-dark-secondary-3: var(--gradient-color);
  --tc-neutral-0: #1f1f24;
  --tc-neutral-100: #272730;
  --tc-neutral-200: #565662;
  --tc-neutral-300: #5e5e65;
  --tc-neutral-400: #6d6d72;
  --tc-neutral-500: #858587;
  --tc-neutral-600: #969698;
  --tc-neutral-700: #b2b2ba;
  --tc-neutral-800: #c5c5ca;
  --tc-neutral-900: #edeaf8;
  --tc-neutral-1000: #fff;
  --tc-neutral-dark-0: #fff;
  --tc-neutral-dark-100: #e9e9ea;
  --tc-neutral-dark-200: #bcbcbe;
  --tc-neutral-dark-300: #8f8f92;
  --tc-neutral-dark-400: #79797c;
  --tc-neutral-dark-500: #636366;
  --tc-neutral-dark-600: #3b3b41;
  --tc-neutral-dark-700: #2a2a31;
  --tc-neutral-dark-800: #24242d;
  --tc-neutral-dark-900: #272730;
  --tc-neutral-dark-1000: #1f1f24;
  --tc-system-success: #64e1b0;
  --tc-system-info: #5577a7;
  --tc-system-warning: #ffd45d;
  --tc-system-danger: #ec4040;
  --tc-system-muted: #9ca3af;
  --tc-system-dark-success: #10b983;
  --tc-system-dark-info: #0f172e;
  --tc-system-dark-warning: #fcd34e;
  --tc-system-dark-danger: #fca5a7;
  --tc-system-dark-muted: #9ca3af;
  --tc-bg-1: #edeaf8;
  --tc-bg-2: var(--primary-color);
  --tc-bg-3: #fff;
  --tc-bg-4: #fbf8f9;
  --tc-bg-5: #e8e8e8;
  --tc-bg-6: #f6f4fd;
  --tc-bg-dark-1: #24242d;
  --tc-bg-dark-2: #272730;
  --tc-bg-dark-3: #272730;
  --tc-bg-dark-4: #1f1f24;
  --tc-bg-dark-5: #1f1f24;
  --tc-bg-dark-6: #2a2a31;
  --tc-border-1: #c0dcbc;
  --tc-border-dark-1: #3b413d;
  --tc-linear-1: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--gradient-color) 100%
  );
  --tc-linear-2: linear-gradient(
    -180deg,
    var(--primary-color) 0%,
    transparent 100%
  );
  --tc-linear-3: linear-gradient(
    -180deg,
    #dfdfea,
    rgba(223, 223, 234, 0.31) 31%,
    rgba(223, 223, 234, 0)
  );
  --tc-linear-4: linear-gradient(-90deg, #33a381, #129840);
  --tc-linear-5: linear-gradient(-90deg, rgba(31, 31, 36, 0.45), #1f1f24);
  --tc-linear-dark-1: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--gradient-color) 100%
  );
  --tc-linear-dark-2: linear-gradient(
    -180deg,
    var(--primary-color) 0%,
    transparent 100%
  );
  --tc-linear-dark-3: linear-gradient(-180deg, #5e5e63, transparent);
  --tc-linear-dark-4: linear-gradient(
    -90deg,
    var(--gradient-color) 0%,
    var(--primary-color) 100%
  );
  --tc-linear-dark-5: linear-gradient(-90deg, hsla(0, 0%, 100%, 0.32), #fff);
  --tc-shadow-1: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
  --tc-shadow-2: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
  --tc-fw-black: 900;
  --tc-fw-extra-bold: 800;
  --tc-fw-bold: 700;
  --tc-fw-semi-bold: 600;
  --tc-fw-medium: 500;
  --tc-fw-regular: 400;
  --tc-fw-light: 300;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000000;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, hsla(0, 0%, 100%, 0.32), grey);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.32), grey);
}

#particles-js,
#tsparticles canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
#particles-js,
#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar-brand {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, hsla(0, 0%, 100%, 0.32), #fff);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: DM Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar-text {
  font-family: "DM Mono", "monospace";
  border-radius: 0.25rem;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.nav-link.active {
  color: var(--tc-bg-3) !important;
}
.navbar-text:hover {
  color: var(--tc-bg-3);
}
.navbar-toggler-icon {
  filter: invert(1) !important;
  border: 1px solid var(--tc-neutral-600) !important;
  border-radius: 4px;
}
.title {
  font-family: "DM Mono", "monospace";
  font-weight: var(--tc-fw-medium);
  font-size: 14px;
  color: var(--tc-neutral-1000);
}
.hero--title {
  font-family: "DM Mono", "monospace";
  font-weight: var(--tc-fw-medium);
  color: var(--tc-neutral-1000);
}
.hero-description {
  font-family: "DM Mono", "monospace";
  font-weight: var(--tc-fw-regular);
  color: var(--tc-neutral-600);
  font-size: 14px;
}
.download-cv-btn {
  font-family: "DM Mono", "monospace";
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  color: var(--tc-neutral-600) !important;
  border-radius: 8px;
}
.download-cv-btn:hover {
  color: var(--tc-neutral-1000) !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.dev-divider {
  margin: 20px 0px 20px 0px;
  border-top: 1px solid var(--tc-neutral-300);
}
.dev-card {
  padding: 0px;
}
.dev-card-title {
  font-family: "DM Mono", "monospace";
  font-weight: var(--tc-fw-medium);
  color: var(--tc-neutral-1000) !important;
  font-size: 28px;
  gap: 8px;
  margin-bottom: 20px;
}
.skills-ul {
  font-family: "DM Mono", "monospace";
  font-size: 14px;
  font-weight: var(--tc-fw-regular);
  color: var(--tc-neutral-600);
}
.flex-title-main {
  display: flex;
  justify-content: space-between;
}
.flex-title-head {
  font-family: "DM Mono", "monospace";
  font-size: 14px;
  font-weight: var(--tc-fw-regular);
  color: var(--tc-neutral-600);
}
.flex-title-sub {
  font-family: "DM Mono", "monospace";
  font-size: 14px;
  font-weight: var(--tc-fw-regular);
  color: var(--tc-neutral-600);
}
.footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  justify-content: center; */
}
.footer-text {
  font-family: "DM Mono", "monospace";
  font-size: 12px;
  font-weight: 500;
  color: var(--tc-neutral-dark-200);
  text-align: center;
}
.green--text--highlight {
  color: var(--primary-color);
}
.pink--text--highlight {
  color: var(--tc-theme-dark-secondary-2);
}
.white--text--highlight {
  color: var(--tc-neutral-1000);
}
.mb-10 {
  margin-bottom: 10px;
}
.text-bold {
  font-weight: 500;
}
